body {
  margin: 0;
  padding: 0;
}

.contentWrap {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  margin-top: 100px;
}

.waveSample {
  margin: 100px 0px;
}

.waveSample > h2 {
  background-color: aliceblue;
  padding: 0.5rem 1.5rem;
}

.techArea {
  margin-top: 40px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.caution {
  margin-top: 40px;
}

.codepen_area {
  margin: 60px 0 100px;
}
