body {
  margin: 0;
  padding: 0;
}

.contentWrap {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.waveSample {
  margin: 100px 0px;
  > h2 {
    background-color: aliceblue;
    padding: 0.5rem 1.5rem;
  }
}

.about_area {
  margin-top: 40px;
}

.codepen_area {
  margin: 60px 0 100px;
}
